{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Side Menu -->
        <div class="col-md-2 bg-dark">
            <nav class="navbar navbar-dark">
                <a href="" class="navbar-brand text-center"><small>{{user.first_name}} {{user.last_name}}</small>
                    <div class="text-center my-3">
                        {% if data.profile_pic %}
                        <img src="/media/{{data.profile_pic}}" style="height:75px; width: 75px; border-radius:50%;">
                        {% else %}
                        <img src="{% static '/images/noimg.jpg' %}" style="height:75px; width: 75px; border-radius:50%;">
                        {% endif %}
                    </div>
                </a>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'view_profile' %}" class="nav-link">View Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'edit_profile' %}" class="nav-link">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </nav>   
        </div>

        <!-- Right Side Menu -->
        <div class="col-md-10">
            {% block dashboard %}
            
            
            {% endblock dashboard %}
        </div>
    </div>
</div>

{% endblock content %}